.btn-block {
  justify-content: center;
  background: white;
  color: #FE6600;
  width: 40px;
}

.link-buttons {
  justify-content: center;
  background: white;
  color: #FE6600;
  width: 80px;
}

#wings {
  padding-top: 100px;
  font-family: 'Great Vibes', cursive;
  font-size: 44px;

}

.banner {
  background-color: white;
  height: 50px;
  width: 100%;
  background-position: center;
  padding: 10px 0;
}

.banner h1 {
  margin: 0;
  padding-top: 20px;
  color: #FE6600;
  text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
  font-size: 32px;
  font-weight: bold;
  text-align: center;
}
