.btn-block {
  justify-content: center;
  background: white;
  color: #FE6600;
  width: 40px;
}

.link-buttons {
  justify-content: center;
  background: white;
  color: #FE6600;
  width: 80px;
}

h2 {
  padding-top: 100px;
  font-family: 'Great Vibes', cursive;
  font-size: 44px;

}

