<div class="my-container">
  <h1>Advisors</h1>
  <div class="wrapper">
  <% @advisors.each do |advisor| %>
    <div class="tweet-cards">
      <div class="card-top">
      </div>
      <div class="profile-pic">
        <img src="https://images.unsplash.com/photo-1527980965255-d3b416303d12?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1400&q=80"/>
      </div>
      <div class="card-bottom">
        <p id="name">
          <%= link_to advisor.first_name.capitalize, show_advisor_user_path(advisor) %>
        </p>
        <div class="tweet">
          <p><strong>Specialty: </strong></p>
          <h5 id="date"> <strong> Response Time:</strong><%= advisor.response_time %>hours</h5>
        </div>
      </div>
    </div>
  <% end %>
  </div>
</div>
