<div class="background-container">
  <div class="advisor-index-background">
    <h1>Advisors</h1>
      <% @advisors.each do |advisor| %>
        <div class="card-trip">

          <div class="card-trip-infos margin-bottom">
            <div>
              <h3><%= link_to advisor.first_name.capitalize, show_advisor_user_path(advisor) %></h3>
              <h5><%= advisor.bio unless advisor.bio.nil? || advisor.bio.empty? %></h5>
            </div>
          </div>
        </div>
      <% end %>
  </div>
</div>




