<h1>Show page of one advisor</h1>
<div class="container">
  <div class="row justify-content-center">
    <div class="col-12 col-lg-6">
      <div class="advisor-show-background">
      </div>
      
        <%= simple_form_for :request, url: request_path(@request), method: :patch do |f| %>
          <%= f.input :advisor_id, as: :hidden, input_html: { value: @user.id }  %>
          <%= f.submit %>
        <% end %>
      
        <%= link_to 'Back to advisors', last_step_path(@request) %>
    </div>
  </div>
</div>


