<h1>Show page of one advisor</h1>


<%= simple_form_for :request, url: request_path(@request), method: :patch do |f| %>
  <%= f.input :advisor_id, as: :hidden, input_html: { value: @user.id }  %>
  <%= f.submit %>
<% end %>
