<%= simple_form_for :content, url: set_content_requests_path, method: :post do |f| %>
        <div class="form-container">
          <div class="p-2 mb-0">
            <div class="slidecontainer">
              <div class="form-headers">What is your monthly income?</div>
              <p class="text-center" style="font-size: 2em" >£<span id="demo-income"></span></p>
              <input type="range" max="6000" value="500" step="100" class="slider" id="myRange-income" name="content[monthly_income]">
            </div>
          </div>

          <div class="p-3 mb-1 paycheck">
            <div class="form-headers">Paycheck frequency:</div>

            <div class="form-check form-check-inline radios">
              <label class="form-check-label" for="inlineCheckbox1"><abbr class="emoji"> 🗓</abbr> Weekly</label>
              <input class="form-check-input" type="radio" id="inlineCheckbox1" value="Weekly" name="content[paycheck_frequency]">
            </div>
            <div class="form-check form-check-inline radios">
              <label class="form-check-label" for="inlineCheckbox2"><abbr class="emoji"> 🗓</abbr> Bi-Weekly</label>
              <input class="form-check-input" type="radio" id="inlineCheckbox2" value="Bi-Weekly" name="content[paycheck_frequency]">
            </div>
            <div class="form-check form-check-inline radios">
              <label class="form-check-label" for="inlineCheckbox3"><abbr class="emoji"> 🗓</abbr> Monthly</label>
              <input class="form-check-input" type="radio" id="inlineCheckbox3" value="Monthly" name="content[paycheck_frequency]">
            </div>
<!-- </div> -->


          </div>
          <div class="p-3 mb-0.5 paycheck">
            <%= f.input :fixed_expenses, as: :text,:input_html => {:rows => 5}, label: "What are your fixed expenses?" %>
          </div>
          <div class="p-2 mb-0">
            <div class="slidecontainer">
              <div class="form-headers">What is your household size?</div>
              <p class="text-center" style="font-size: 2em" ><span id="demo-peeps"></span></p>
              <input type="range" min="1" max="10" value="2" class="slider" id="myRange-peeps" name="content[household_size]">
            </div>
          </div>
          <div class="p-3 2 mb-0.5">
            <%= f.input :content,  as: :text,:input_html => {:rows => 5}, label: "What are you willing to change?" %>
          </div>
          <div class="d-flex justify-content-center" style="padding-bottom: 15px">
            <%= f.submit 'Submit',  class: 'btn btn-danger btn-md btn-form' %>
          </div>
        </div>
      <% end %>
    </div>

<script>
var sliderIncome = document.getElementById("myRange-income");
var income = document.getElementById("demo-income");
income.innerHTML = sliderIncome.value;

var sliderPeeps = document.getElementById("myRange-peeps");
var peeps = document.getElementById("demo-peeps");
peeps.innerHTML = sliderPeeps.value;

sliderIncome.oninput = function() {
  income.innerHTML = this.value;
}

sliderPeeps.oninput = function() {
  peeps.innerHTML = this.value;
}
</script>
