<div class="background-container">
  <div class="dashboard-background">
    <h1>Dashboard</h1>

    <% @requests.each do |r| %>
      <p><%= r.advisor.first_name %> <%= r.advisor.last_name %> </p>
      <p>This should be a card with request details. If you click it you go to the chat with advisor</p>
    <% end %>
  </div>
</div>
