<div class="container">
  <div class="row justify-content-center">
    <div class="col-12 col-lg-6">
      <div class="form-index-background">
        <h1>What's your goal?</h1>
          <% Request::TYPES.each do |type| %>
          <div>
            <%= simple_form_for :specialty, url: specialty_requests_path, method: :post, class: 'button-links' do |f| %>
              <%= f.input :specialty, as: :hidden, input_html: { value: type } %>
              <%= f.submit type, class: 'button-links' %>
            </div>
          <% end %>
        <% end %>
      </div>
    </div>
  </div>
</div>
