<div class="background-container">
  <div class="form-index-background">
    <h1>What's your goal?</h1>
    <% Request::TYPES.each do |type| %>
      <div>
        <%= simple_form_for :specialty, url: specialty_requests_path, method: :post, class: 'button-links' do |f| %>
          <%= f.input :specialty, as: :hidden, input_html: { value: type } %>
          <%= f.submit type, class: 'button-links' %>
        <% end %>
      </div>
    <% end %>
  </div>
</div>
