<div class="container">
  <div class="row justify-content-center">
    <div class="col-12 col-lg-6">
      <div class="form_index">
        <h1>What's your goal?</h1>
        <% Request::TYPES.each do |type| %>
          <%= simple_form_for :specialty, url: specialty_requests_path, method: :post do |f| %>
            <%= f.input :specialty, as: :hidden, input_html: { value: type } %>
            <%= f.button :button, type: :submit do %>
              <p><%= type %></p>
            <% end %>
          <% end %>
        <% end %>
      </div>
    </div>
  </div>
</div>
