<h1>What's your goal?</h1>
<ul>
  <li><%= link_to "Budgeting", requests_path(request: { specialty: "budgeting"}), method: :post %>
  </li>
  <li> <%= link_to "Saving", requests_path(request: { specialty: "saving"}), method: :post %> </li>
  <li><%= link_to "bill paying", requests_path(request: { specialty: "bill paying"}), method: :post %> </li>
</ul>
