<% @requests.each do |request| %>
  <% if request.responses == nil %>
    <p><%= request.client.first_name %> <%= request.client.last_name %></p>
    <p>This should be a card with request details. If you click it you go to the chat with the client</p>
    <%= link_to 'Chat', chat_request_path(request) %>
  <% end %>
<% end %>
