<div class="background-container">
  <div class="my-container">
    <div class="row justify-content-center">
      <div class="col-12 col-lg-6">
        <div class="homepage-background">
          <div class="link-buttons" type="submit">
            <%= link_to 'Start now', new_request_path %>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>



