<div class="background-container">
  <div class="homepage-background">
    <h2 style="text-align: center;">Find your financial wings</h2>
    <div class="d-flex justify-content-center">
      <%= link_to 'Start now', new_request_path, class: "btn btn-gradient" %>
    </div>
  </div>
</div>



