<div class="background-container">
  <div class="row justify-content-center">
    <div class="homepage-background">
      <div class="banner">
        <h1>FINSUP</h1>
        <h2>Find your financial wings</h2>
        <%= link_to 'Start now', new_request_path, class: "btn btn-gradient" %>
      </div>
    </div>
  </div>
</div>



