<div class="background-container">
    <div class="homepage-background">
      <div class="banner">
        <h1 class="home">FINSUP</h1>
        <h2>Find your financial wings</h2>

        <div class="home-button">
          <% if current_user.nil? || current_user.role == 'client' %>
            <%= link_to 'Start now', new_request_path, class: "btn btn-gradient" %>
          <% else %>
            <%= link_to 'Dashboard', dashboard_advisor_requests_path, class: "btn btn-gradient" %>
          <% end %>
        </div>
      </div>
    </div>
</div>



