.profile-pic img{
  position: relative;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  height: 110px;
  width: 110px;
  border: 2px solid #D39897;
  border-radius: 6px;
}

.first-name-show {
  color: $cedric-orange;
  font-size: 22px
}

.last-name-show {
  color: $cedric-gray;
  font-size: 22px;
}

.no-margin {
  margin: 0px !important;
}

.advisor-main{
  display: flex;
  align-items: center;
  justify-content: space-around;
  padding-top: 25px;
  padding-bottom: 20px;
  margin-left: -45px;
}

.basic-info{
  // padding: 15px;
  margin-left: -60px;
}

.availability{
  margin-left: 5px;
}
.profile{
  margin-left: 10px;
}

.show-head {
  font-size: 12px;
}

.btn-submit {
  width: 97% !important;
}

.reviewer {
  display: flex;
  justify-content: space-between;
}

.review-info {
  background-color: transparent;
  padding: 10px;
  border-bottom: 1px solid rgb(230, 230, 230);
}

.basic-info h3{
  color: #FE6600;
  font-weight: lighter;
}
#reviews h3{
  color: #918F8E;
  font-weight: normal;
  font-family: 'Open Sans', 'Helvetica Neue';
  font-size: 16px;
}

#all-reviews h6{
text-decoration: underline;
}

.bio {
  font-size: 16px;
  color: #494949;
}

.review-content {
  font-size: 14px;
  color: black;
}

.margin-right {
  margin-right: 4px;
}

.bigger-margin-bottom {
  margin-bottom: 20px;
}

.btn-orange{
  color: #FE6500;
  padding-bottom: 10px;
}
