.wrapper {
  margin: 50px auto;
  text-align: center;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-column-gap: 8px;
  grid-row-gap: 60px;

}

.cedric-span {
  background-size: cover;
  background-position: center;
  min-height: calc(100vh - 77px);
  position: relative;
  overflow: hidden;

 &:after {
    content: '';
    position: absolute;
    width: 160px;
    height: 160px;
    border-radius: 50%;
    background-color: rgb(253, 229, 229);
    bottom: -300px;
    left: -40px;
    z-index: 0;
  }
}

.advisor-index-container {
  padding-left: 20px;
}

.random-container {
  background-size: cover;
  background-position: center;
  min-height: 100%;
  position: relative;
  overflow: hidden;

  &:after {
    content: '';
    position: absolute;
    width: 80px;
    height: 80px;
    border-radius: 50%;
    background-color: rgb(254, 247, 228);
    bottom: -200px;
    left: 160px;
    z-index: 0;
  }
}

.random-span {
  background-size: cover;
  background-position: center;
  min-height: 100%;
  position: relative;
  overflow: hidden;

  &:after {
    content: '';
    position: absolute;
    width: 120px;
    height: 120px;
    border-radius: 50%;
    background-color: rgb(250, 239, 232);
    bottom: -300px;
    left: 300px;
    z-index: 0;
  }
}

.tweet-cards{
  display: flex;
  background-color: white;
  width: 95%;
  height: 120px;
  border-bottom: 1px solid rgb(230, 230, 230);
  margin-bottom: 15px;
}

.tweet-cards .card-top{
  border-bottom: 4px solid red;
  border-radius: 2px 2px 0px 0px;
}

.index-profile-pic {
  width: 120px;

  img {
    width: 100%;
    object-fit: cover;
  }
}

.card-main {
  padding-top: 6px;
  flex-grow: 1;
}

.card-rating {
  padding-top: 6px;
  width: 50px;
}

.advisor-details {
  margin-bottom: 0px;
}

.detail-names {
  font-size: 12px;
  color: $cedric-gray;
}

.detail-content {
  color: black;
  font-size: 14px;
  font-weight: 600;
}

.card-name {
  font-size: 20px;
  margin-bottom: 6px;
}

.first-name {
  color: $cedric-orange;
}

.last-name {
  color: $cedric-gray;
}

.rating-details {
  color: black;
}

.tweet-cards .index-profile-pic img{
  height: 100px;
  width: 100px;
  border: 2px solid #D39897;
  border-radius: 6px;
}

p#name a{
    text-decoration: none;
    font-family: arial, helvetica;
    color: #FE6600;
    font-size: 20px;
    font-weight: bold;
    position: relative;
    bottom: 5px;
}

.tweet{
    position: relative;
    bottom: 7px;
    width: 140px;
    height: 51px;
    word-wrap: break-word;
    text-align: center;
    line-height: 8px;
    margin: auto;
    font-weight: 200;
    font-family: 'open sans';
    font-size: 0.95em;
    color: #545454;
}

h5#date{
  position: relative;
  text-align: center;
  margin-bottom: 8px;
  font-family: 'open sans';
  font-size: 0.8em;
  color: #919191;
}


