.wrapper {
  margin: 50px auto;
  text-align: center;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-column-gap: 8px;
  grid-row-gap: 60px;

}

.tweet-cards{
  display: flex;
  background-color: white;
  width:100%;
  height: 140px;
  padding: 15px 25px;
}

.tweet-cards .card-top{
  border-bottom: 4px solid red;
  border-radius: 2px 2px 0px 0px;
}

.index-profile-pic {
  width: 120px;
}

.card-main {
  padding-top: 6px;
  flex-grow: 1;
}

.card-rating {
  padding-top: 6px;
  width: 50px;
}

.advisor-details {
  margin-bottom: 0px;
}

.card-name {
  font-size: 22px;
}

.tweet-cards .index-profile-pic img{
  height: 100px;
  width: 100px;
  border: 2px solid #D39897;
  border-radius: 6px;
}

p#name a{
    text-decoration: none;
    font-family: arial, helvetica;
    color: #FE6600;
    font-size: 20px;
    font-weight: bold;
    position: relative;
    bottom: 5px;
}

.tweet{
    position: relative;
    bottom: 7px;
    width: 140px;
    height: 51px;
    word-wrap: break-word;
    text-align: center;
    line-height: 8px;
    margin: auto;
    font-weight: 200;
    font-family: 'open sans';
    font-size: 0.95em;
    color: #545454;
}

h5#date{
  position: relative;
  text-align: center;
  margin-bottom: 8px;
  font-family: 'open sans';
  font-size: 0.8em;
  color: #919191;
}


