.wrapper {
  margin: 50px auto;
  text-align: center;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-column-gap: 8px;
  grid-row-gap: 60px;

}

.tweet-cards{
  background-color: #FFFFFF;
  width:161px;
  height:161px;
  margin: auto;
  border-radius: 2px;
  box-shadow: 0 0 15px rgba(0,0,0,0.3);

}

.tweet-cards .card-top{
  border-bottom: 4px solid #fc7100;
  border-radius: 2px 2px 0px 0px;
}

.tweet-cards .profile-pic{
  height:45px;
}

.tweet-cards .profile-pic img{
  width: 80px;
  height: 80px;
  border-radius: 50%;
  position: relative;
  margin: -52px 0 0 6px;
  border: 4px solid white;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
}

p#name a{
    text-decoration: none;
    font-family: arial, helvetica;
    color: #FE6600;
    font-size: 20px;
    font-weight: bold;
    position: relative;
    bottom: 5px;
}

.tweet{
    position: relative;
    bottom: 7px;
    width: 140px;
    height: 51px;
    word-wrap: break-word;
    text-align: center;
    line-height: 8px;
    margin: auto;
    font-weight: 200;
    font-family: helvetica neue;
    font-size: 0.95em;
    color: #545454;
}

h5#date{
  position: relative;
  text-align: right;
  margin: 0 5px 15px 0;
  font-family: helvetica;
  font-size: 0.8em;
  color: #919191;
}


