.homepage-background {
  background-image: asset-url('homepage.png');
  background-size: cover;
  background-position: center;
  width: 100vw;
  height: 667px;
  position: relative;
  opacity: 0.5;
}

.background-container {
  padding: 0;
}

.form-index-background {
  background-image: asset-url('form_index.png');
  background-size: cover;
  background-position: center;
  width: 100vw;
  height: 667px;
  position: relative;
  opacity: 0.5;
}

.advisor-show-background {
  background-image: asset-url('advisor_show.png');
  background-size: cover;
  background-position: center;
  width: 100vw;
  height: 667px;
  position: relative;
  opacity: 0.5;
}
.advisor-index-background {
  background-image: asset-url('advisor_index.png');
  background-size: cover;
  background-position: center;
  width: 100vw;
  height: 667px;
  position: relative;
  opacity: 0.5;
}

.billpay-form-background {
  background-image: asset-url('billPayment.png');
  background-size: cover;
  background-position: center;
  width: 100vw;
  height: 667px;
  position: relative;
  opacity: 0.5;
}

.budget-form-background {
  background-image: asset-url('budget.png');
  background-size: cover;
  background-position: center;
  width: 100vw;
  height: 667px;
  position: relative;
  opacity: 0.5;
}

.chat-page-background {
  background-image: asset-url('chat_page.png');
  background-size: cover;
  background-position: center;
  width: 100vw;
  height: 667px;
  position: relative;
  opacity: 0.5;
}

.dashboard-background {
  background-image: asset-url('dashboard.png');
  background-size: cover;
  background-position: center;
  width: 100vw;
  height: 667px;
  position: relative;
  opacity: 0.5;
}

.savings-form-background {
  background-image: asset-url('savings.png');
  background-size: cover;
  background-position: center;
  width: 100vw;
  height: 667px;
  position: relative;
  opacity: 0.5;
}
