.slick-next {
    right: 15px !important;
}

.slick-prev {
    left: 15px !important;
    z-index: 99;
}
.single-item{
  margin-top: 5vh;
  margin-left: 10px;
  margin-right: 10px;
  box-shadow: 0 0 8px rgba(0,0,0,0.2);
  text-align: center;
  height: 25vh;
  padding-top: 25px;
  border-radius: 25px;
  background-color: white;
  color: #FE6600
}
