.slick-next {
    right: 15px !important;
}

.slick-prev {
    left: 15px !important;
    z-index: 99;
}
.single-item{
  margin-top: 15vh;
  margin-left: 5px;
  margin-right: 5px;
  box-shadow: 0 0 15px rgba(0,0,0,0.3);
  text-align: center;
  height: 30vh;
  padding-top: 25px;
}
