
.card_requests {
  background-color: transparent;
  box-shadow: none;
  display: flex;
  width: 95vw;
  height: 130px;
  margin-bottom: 30px;
  border-bottom: 1px solid lightgray;
  margin-left: 10px;
  margin-right: 10px;
}

.dash-note {
  background-color: white;
  text-align: left;
  padding-right: 8px;
  padding-left: 8px;
  margin-bottom: 30px;

}

.square_image {
  height: 110px;
  width: 100px;
  margin: 0;
  border-radius: 8px;
  border: #FE6600 1px solid;

}
.name_holder {
  display: flex;
  margin-left: 10px;
}

.card_header {
  margin: 0;
  font-size: 18px;
  color: #ef6436;
}

#advisor_t {
  font-weight: lighter !important;
  font-size: 16px;
  margin-right: 4px;
  color: dimgray;
}
.contents {
  width: 70%;
  margin-left: 10px;
  position: relative;

}

.dashboard_content {
  margin-bottom: 5px;
  margin-left: 10px;
  & span {
    font-weight: bold;
  }
}
.btn_dash {
  font-size: 15px;
  color: white ;
  padding: 5px 10px;
  background-color: #ef6436;
  border-radius: 2px;
}

a.btn_dash {
  text-decoration: none;
  color: white;
}


.flexbox_btn {
  margin-left: 10px;
  display: flex;
  justify-content: space-between;
}

.medium-margin-bottom {
  margin-bottom: 12px;
}

.dashboard-text {
  color: black;
}
