.form-inputs {
  display: flex;
  flex-direction: column;
  align-items: center;

}

.form-container {
  border-radius: 10px;
  display: center;
  background-color: white;
  margin: 10px auto;
  box-shadow: 10px 10px 30px rgba(0,0,0,.2);;
  height: 80%;
  width: 80%;
  align-items: center;
  flex-direction: column;

}

.form-fillout {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  box-shadow: 10px;

}

.signup-inputs {
  min-width: 70%;
}

.form-headers {
  text-align: center;
  padding-bottom: 4%;
}

