.form-inputs {
  display: flex;
  flex-direction: column;
  align-items: center;

}

.form-fillout {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;

}

.signup-inputs {
  min-width: 70%;
}

.form-headers {
  text-align: center;
  padding-bottom: 4%;
}

