.btn-gradient {
  color: white;
  padding: 13px 40px;
  border-radius: 4px;
  font-weight: bold;
  background: #FE6600;
  transition: background 0.3s ease;
  border: 1px solid #ff6016;
  text-align: center;
}

.btn-gradient:hover {
  background: #FE6600;
  color: white;
}

.home-button {
  position: relative;
  bottom: 50px;
}


