.btn-gradient {
  color: white;
  padding: 18px 30px;
  border-radius: 4px;
  font-weight: bold;
  background: #FE6584;
  transition: background 0.3s ease;
  border: 1px solid #ff6016;
}

.btn-gradient:hover {
  background: #FE6600;
  color: white;
}

