.btn-gradient {
  color: white;
  padding: 8px 24px;
  border-radius: 4px;
  font-weight: bold;
  background: #FE6600;
  transition: background 0.3s ease;
  border: 1px solid #ff6016;
}

.btn-gradient:hover {
  background: #f70000;
  color: white;
}

