<% @advisor.reviews.each do |review| %>
  <div class="review-info">
    <div class="reviewer">
      <div class="small-margin-bottom first-name">
        <span class="first-name margin-right">
          <%= review.client.first_name.capitalize %>
        </span>

        <span class="last-name">
          <%= review.client.last_name.capitalize unless review.client.last_name.nil? %>
        </span>
      </div>


      <span>
        <p>
          <% review.rating.times do %>
          <i class="fas fa-star"></i>
          <% end %>
        </p>
      </span>

    </div>

      <div class="review-body">
        <p class="review-content"> <%= review.content %> </p>
      </div>
  </div>
<% end %>
