<% @advisor.reviews.each do |review| %>
  <div class="col-12 margin-bottom review-info">
    <div class="reviewer">
      <p class="small-margin-bottom"> <%= review.client.first_name %> </p>
    </div>
      <div class="review-body">
        <p><%= review.rating.times do %>
          <i class="fas fa-star"></i>
          <% end %>
        </p>
        <p> <%= review.content %> </p>
      </div>
  </div>
<% end %>
