<% @advisor.reviews.each do |review| %>
  <div class="review-info margin-bottom">
    <div class="reviewer">
      <p class="small-margin-bottom"> <%= review.client.first_name %> </p>
    </div>
      <div class="review-body">
        <%= review.content %> ---- <%= review.rating.times do %> <i class="fas fa-star"></i> <% end %>
      </div>
  </div>
<% end %>
